<div class="flex min-h-screen bg-gray-100">
    <!-- Sidebar -->
    <!-- <div class="fixed w-64 h-full pt-8 text-white bg-blue-900">
        <img src="images/arm.png" alt="Logo" class="h-auto w-24 mr-4">
              <ul>
        <li class="py-4 text-center hover:bg-blue-700">
          <a href="/home" class="block">Home</a>
        
        </li>
        <li class="py-4 text-center hover:bg-blue-700">
          <a href="/application" class="block">Application</a>
        </li>
        <li class="py-4 text-center hover:bg-blue-700">
          <a href="/settings" href="" class="block">Settings</a>
        </li>
        <li class="py-4 text-center hover:bg-blue-700">
          <a href="" class="block">Logout</a>
        </li>
      </ul>
    </div> -->
   
    <div class="flex-grow p-6 ml-64">
        <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
  
