<div class="flex-grow p-6 ml-64">
      <header class="flex items-center justify-between mb-6">
        <h1 class="text-2xl font-bold text-black-500">Dashboard Overview</h1>
      </header>
  
      <div class="grid grid-cols-3 gap-6">
        <div class="bg-white p-5 border rounded-lg">
          <h3 class="mb-2 text-lg font-medium text-gray-700">Number of registered apps</h3>
          <p class="text-2xl text-gray-500">178</p>
        </div>
        <div class="p-6 text-center bg-white rounded-lg shadow">
          <h3 class="mb-2 text-lg font-medium text-gray-700">Total Users</h3>
          <p class="text-2xl text-gray-500">57</p>
        </div>
        <div class="p-6 text-center bg-white rounded-lg shadow">
          <h3 class="mb-2 text-lg font-medium text-gray-700">
            Recent Login
          </h3>
          <p class="text-2xl text-gray-500">120</p>
        </div>
         <div>
            <p>Recent Authentication</p>
        </div> 
        <div class="p-6 text-center bg-white rounded-lg shadow">
          <h3 class="mb-2 text-lg font-medium text-gray-700">Login Attempt Success</h3>
          <p class="text-2xl text-gray-500">58</p>
        </div>
        <div class="p-6 text-center bg-white rounded-lg shadow">
          <h3 class="mb-2 text-lg font-medium text-gray-700">Login attempt Failure</h3>
          <p class="text-2xl text-gray-500">58</p>
        </div>
        <div class="p-6 text-center bg-white rounded-lg shadow">
            <h3 class="mb-2 text-lg font-medium text-gray-700">Alerts and Security warnings</h3>
            <p class="text-2xl text-gray-500">58</p>
          </div>
      </div>